services:
  # NestJS Server
  app:
    container_name: fingoo.asg
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DB_HOST=mysql_db
      - TZ=Asia/Seoul
    restart: always
    depends_on:
      - mysql_db

  # MySQL DB
  mysql_db:
    image: mysql:8.0
    container_name: fingoo.asg-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: 
      --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

volumes:
  db_data: